body{
    display : flex;
    flex-direction : column;
    margin : 0px;
    box-sizing : border-box;
    background: #d9d9d9;
}

.app_header{
    margin: 0px;
    padding: 0px 5px;
    background : #4d94ff;
    color : white;
    display : flex;
    padding-left : 20px;
    padding-right : 20px;
}

.app_title{
    width : 100%;
    font-size : 24px;
    font-family : Arial;
    font-weight : 10;
}

.header_button{
    border : 0px;
    width : 24px;
    height : 24px;
    margin : auto;
}

#addBtn{
    background: url("/images/ic_add_white_24px.svg") center center no-repeat;
}

#refreshBtn{
    background : url("/images/ic_refresh_white_24px.svg") center center no-repeat;
}

main{
    align-content: center;
    display : flex;
    flex-direction: column;
    justify-content: space-between
}

.weather_card{
    background : white;
    display : flex;
    flex-direction: column;
    margin: 10px  20px;
    padding : 10px;
    font-family: Arial;
    z-index: 0;
}

.weather_card .location{
    font-size : 20px;
}

.weather_card .time{
    font-size: 15px;
}

.main_report{
    display: flex;

}

.main_report .temperature{
    display: flex;
    width : 50%;
}
.main_report .temperature_img img{
    width: 150px;
    height: 150px;
}
.main_report .temperature .value{
    font-size : 50px;
}
.main_report .temperature .unit{
    font-size : 40px;
}
.main_report .other_details{
    font-size : 20px;
}

.week_report_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.week_report{
    display: inline-block;
    text-align: center;
}



.week_report .temperature_img img{
    width: 50px;
    height: 50px;
}

.week_report .temperature_high_low{
    font-size: 15px;
}




.dialog {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0);
    display: none;

    padding-top:120px;
}
.dialog_content{
    border: 1px solid;
    padding: 5px;
    border-radius: 25px;

    margin: auto;
    width: 50%;
    height: 20%;
    background-color: rgba(80, 89, 87, 0.5)
}


.dialog_title{
    margin: 5px;
}

.dialog_menu{
    width: 100px;
    height: 20%;
    right: 30px;
    margin: 5px;
}

.dialog_buttons{
    margin: 5px;
}


#copy_right{
  position: fixed;
  bottom: 0;
  right:0;
  padding: 10px;
  color: gray;
}

#dialog_request_report{
  display:none;
  margin-left: 10px;
  font-size : 15px;
  font-family: Arial;
}

.fade_in{
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.fade_out{
  animation: fadeOut: 0.5s linear;
}


@keyframes fadeOut {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
